.carousel-section {
  padding: 40px;
  text-align: center;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.product-card {
  min-width: 25%;
  padding: 15px;
  box-sizing: border-box;
}

.image-box {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.buy-btn {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
}

.nav-btn {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.view-all button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  border: 1px solid red;
  background: white;
  color: red;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .product-card {
    min-width: 50%;
  }
}

@media (max-width: 768px) {
  .product-card {
    min-width: 100%;
  }
}
