.footer {
  background: #000000;
  border-top: 1px solid #323030;
  font-family: "Inter", sans-serif;
}

/* MAIN FOOTER */
.footer-main {
  max-width: 1200px;
  margin: auto;
  padding: 36px 24px; /* ⬅ reduced height */
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  gap: 40px;
}

/* BRAND */
.footer-brand img {
  width: 110px;
  margin-bottom: 10px;
}

.footer-brand p {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 1.5;
}

/* COLUMNS */
.footer-col h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.footer-col li {
  font-size: 13px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-col li:hover {
  color: #f8e4e4;
}

/* 2. Target the links inside the list */
.footer-col ul li a {
  color: #ffffff;
  text-decoration: none; /* Optional: removes the underline */
}

/* 3. Optional: Change color when hovering over a link */
.footer-col ul li a:hover {
  color: #cccccc; /* Makes it turn light gray on hover */
}

.social-icons {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 8px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
}

.social-icons img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.social-icons a:hover {
  background: #ff0000;
  transform: translateY(-2px);
}

.social-icons a:hover img {
  filter: brightness(0) invert(1);
}

/* COPYRIGHT STRIP */
.footer-bottom {
  background: #555555;
  border-top: 1px solid #eaeaea;
  text-align: center;
  padding: 12px;
  font-size: 12.5px;
  color: #777;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-main {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 28px;
  }

  .social-icons {
    justify-content: center;
  }
}

.disabled-link {
  cursor: default;
  color: #999;
  text-decoration: none;
}

.disabled-link:hover {
  color: #999;
  text-decoration: none;
}
